@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --color-blue:rgb(12, 62, 228);
}
*{
    margin:0;
    padding:0;
}
body{
    font-family:"Hind Siliguri",sans-serif;
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100%;
    height:100vh;
}
header#menu{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:95%;
    height:90px;
}
header#menu > #logo > #logo-destaque{
    color:var(--color-blue);
    font-size:1rem;
}
header#menu > nav > ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:.8rem;
    width:340px;
} 
a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.808);
}
li{
    list-style:none;
}
header#menu > h1#logo{
    font-size:.8rem;
}
header#menu > nav > ul > li > a:hover{
    color:var(--color-blue);
    transition:.4s;
}
header#menu > nav > ul li::after{
    display:block;
    width:100%;
    border:solid 0.1px var(--color-blue);
    border-image:linear-gradient(to right,white 20%,white 20%,var(--color-blue)) 1;
    content:"";
    border-radius:20px 50% 20px 50%;
    transition:.4s;
}
header#menu > article{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:225px;
}
header#menu > article > button#btn-contato{
    display:flex;
    align-items:center;
    justify-content:center;
    width:140px;
    height:38px;
    padding:18px 8px;
    background:var(--color-blue);
    font-size:.7rem;
    color:white;
    border:none;
}
header#menu > article > img.svg{
    width:15px;
    height:15px;
}
section#inicio{
    position:relative;
    background:red;
    width:100%;
    height:100dvh;
}
section#inicio > article{
    position:absolute;
    left:0;
    display:flex;
    flex-direction:column;
    gap:20px;
}
section#inicio > article > h1{
    font-family:"Josefin Sans",sans-serif;
    font-size:3rem;
    letter-spacing:4px;
    line-height:50px;
    font-weight:bold;
}

section#inicio > article > p{
    font-size:.8rem;
    color:rgba(0, 0, 0, 0.658);
}
section#inicio > article > div{
    display:flex;
    align-items:center;
    gap:17px;
}
section#inicio > article > div > button{
    display:flex;
    align-items:center;
    justify-content:center;
    border:solid black .1px;
    background:none;
    padding:13px 10px;
    font-size:.6rem;
    font-weight:bold;
}
section#inicio > article > div > button:nth-child(2){
    border:none;
}