@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Titan+One&display=swap');

:root{
    --color-blue:rgb(12, 62, 228);
}
*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100%;
    height:100vh;
}
header#menu{
    font-family:"Hind Siliguri",sans-serif;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:95%;
    height:90px;
}
header#menu > #logo > #logo-destaque{
    color:var(--color-blue);
    font-size:1rem;
}
header#menu > nav > ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:.8rem;
    width:340px;
} 
a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.808);
}
li{
    list-style:none;
}
header#menu > h1#logo{
    font-size:.8rem;
}
header#menu > nav > ul > li > a:hover{
    color:var(--color-blue);
    transition:.4s;
}
header#menu > nav > ul li::after{
    display:block;
    width:100%;
    border:solid 0.1px var(--color-blue);
    border-image:linear-gradient(to right,white 20%,white 20%,var(--color-blue)) 1;
    content:"";
    border-radius:20px 50% 20px 50%;
    transition:.4s;
}
header#menu > article{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:225px;
}
header#menu > article > button#btn-contato{
    display:flex;
    align-items:center;
    justify-content:center;
    width:140px;
    height:38px;
    padding:18px 8px;
    background:var(--color-blue);
    font-size:.7rem;
    color:white;
    border:none;
}
header#menu > article > img.svg{
    width:15px;
    height:15px;
}