@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Luckiest+Guy&display=swap');

:root{
    --color-blue:#F7B5B7;
}
*{
    margin:0;
    padding:0;
}
body{
    font-family:"Hind Siliguri",sans-serif;
    display:flex;
    align-items:center;
    flex-direction:column;
    width:100%;
}
header#menu{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:95%;
    height:90px;
}
header#menu > #logo > #logo-destaque{
    color:var(--color-blue);
    font-size:1rem;
}
header#menu > nav > ul{
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-size:.8rem;
    width:340px;
} 
a{
    text-decoration:none;
    color:rgba(0, 0, 0, 0.808);
}
li{
    list-style:none;
}
header#menu > h1#logo{
    font-size:.8rem;
}
header#menu > nav > ul > li > a:hover{
    color:var(--color-blue);
    transition:.4s;
}
header#menu > nav > ul li::after{
    display:block;
    width:100%;
    border:solid 0.1px var(--color-blue);
    border-image:linear-gradient(to right,white 20%,white 20%,var(--color-blue)) 1;
    content:"";
    border-radius:20px 50% 20px 50%;
    transition:.4s;
}
header#menu > article{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:225px;
}
header#menu > article > button#btn-contato{
    display:flex;
    align-items:center;
    justify-content:center;
    width:140px;
    height:38px;
    padding:18px 8px;
    background:var(--color-blue);
    font-size:.7rem;
    color:white;
    border:none;
}
header#menu > article > img.svg{
    width:15px;
    height:15px;
}
section#inicio{
    position:relative;
    background:red;
    width:95%;
    height:80vh;
    background-image:url("./src/images/background-inicio.jpg");
    /*background-image:linear-gradient(to top,rgb(161, 159, 159) 50%,rgb(117, 115, 115),rgb(116, 116, 116));*/
    overflow:hidden;
}
section#inicio > article{
    position:absolute;
    left:40px;
    top:35%;
    display:flex;
    flex-direction:column;
    gap:15px;
}
section#inicio > article > h1{
    font-family:"Luckiest Guy",sans-serif;
    font-size:3.6rem;
    letter-spacing:4px;
    line-height:50px;
    font-weight:400;
}

section#inicio > article > p{
    font-size:.9rem;
    color:rgba(0, 0, 0, 0.658);
}
section#inicio > article > div{
    display:flex;
    align-items:center;
    gap:18px;
}
section#inicio > article > div > button{
    display:flex;
    align-items:center;
    justify-content:center;
    border:solid rgba(0, 0, 0, 0.575) .1px;
    background:none;
    padding:12.7px 15px;
    font-size:.7rem;
    font-weight:bold;
}
section#inicio > article > div > button:nth-child(2){
    border:none;
}
section#inicio > article > div > button:nth-child(2) > img#btn-seta{
    margin:0px 0px 0px 7px;
}
section#inicio > img#moda-mulher{
    position: absolute;
    right:20px;
    bottom:20px;
    scale:1.3;
}
section#menu-filtro{
    display:flex;
    align-items:center;
    justify-content:left;
    width:95%;
    height:100px;
}
section#menu-filtro > nav > ul{
    display:flex;
    align-items:center;
    gap:10px;
}
section#menu-filtro  button{
    display:flex;
    align-items:center;
    justify-content:center;
    width:200px;
    color:black;
    padding:9px 6px;
    font-size:.8rem;
    border:none;
    background:none;
}
section#menu-filtro > nav > ul > li   #btn-recentes{
    background:black;
    color:white;
    border-radius:5px;
}
section#menu-filtro  button > img{
    scale:.7;
}
section#filtros-moda{
    display:flex;
    align-items:center;
    width:95%;
    height:100px;
}
section#filtros-moda > div{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:100%;
}
section#filtros-moda > div > article{
    position:relative;
    display:flex;
    align-items:center;
}
section#filtros-moda > div > article > input{
    border:solid .1px rgba(0, 0, 0, 0.699);
    background:none;
    padding:10px 9px;
    border-radius:20px;
    width:300px;
}
section#filtros-moda > div > article > img{
    position:relative;
    scale:.5;
    right:33px;
}
section#filtros-moda > div > strong > p{
    display:flex;
    align-items:center;
    color:rgba(0, 0, 0, 0.527);
    font-size:.7rem;
    gap:10px;
}
section#filtros-moda > div > strong > p > strong {
    display:flex;
    align-items:center;
    color:black;
}
section#filtros-moda > div > strong > p > strong > img{
    scale:.5rem;
}

/*responsivo para android*/
@media(max-width:900px){
    header#menu{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:40px;
        color:white;
        z-index:1;
    }
    header#menu > #logo{
        font-size:1rem !important;
        margin-left:10px;
    }
    header#menu > #logo > #logo-destaque{
        color:black;
    }
    header#menu > nav{
        display:none;
    }
    header#menu > article{
        width:65px;
        justify-content:space-around;
        margin-right:5px;
    }
    header#menu > article > button#btn-contato,#carrinho{
        display:none !important;
    }
    header#menu > article > img#nav-menu{
        scale:1.8;
    }
    header#menu > article > #pesquisa{
        scale:1;
    }
    section#inicio{
        width:100%;
    }
    section#inicio::after{
        position:relative;
        top:260px;
        display:block;
        content:"";
        width:100%;
        height:200px;
        background-image:linear-gradient(transparent,rgba(255, 255, 255, 0.753),white);
        z-index:1;
    }
    section#inicio > article{
        width:100%;
        justify-content:center;
        align-items:center;
        top:300px;
        left:0;
        z-index:2;
    }
    section#inicio > article > h1{
        font-size:.6rem;
        letter-spacing:4px;
        line-height:42px;
        text-align:center;
        font-size:2.6rem;
        font-weight:bold;
    }
    section#inicio > article > p{
        display:none;
    }
    section#inicio > img#moda-mulher{
        scale:1.1;
        bottom:-50px;
    }
    section#inicio > article > div{
        width:100%;
        justify-content:center;
    }
    section#menu-filtro{
        height:100px;
        width:100%;
    }
    section#menu-filtro > nav > ul{
        width:100%;
        gap:10px;
        margin-left:20px;
    }
    section#menu-filtro > nav > ul > li > button{
        width:120px;
        height:37px;
        border-radius:2px;
        font-size:.7rem;
    }
    section#filtros-moda{
        width:100%;
    }
    section#filtros-moda > div{
        width:100%;
        flex-direction:column;
        gap:13px;
    }
    section#filtros-moda > div > article{
        width:100%;
        justify-content:center;
    }
    section#filtros-moda > div > article > input{
        padding:14px 12px;
        width:70%;
    }
    section#filtros-moda > div > strong{
        width:80%;
    }
    section#filtros-moda > div > strong > p{
        font-size:.7rem;
    }
}